* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("machine.png");
    
}

.instruments {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.instrument {
    height: 100px;
    width: 100px;
    padding: 20px;
    border: 2px solid orange;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}